[Unit]
Description=Minecraft Server
After=network.target

[Service]
WorkingDirectory=/home/minecraft/sync/game

User=minecraft
Group=minecraft

Restart=always

ExecStart=/usr/bin/screen -DmS mc-server /usr/bin/java -Xmx15000M -Xms15000M -jar server.jar nogui

ExecStop=/usr/bin/screen -p 0 -S mc-server -X eval 'stuff "say SERVER SHUTTING DOWN IN 15 SECONDS..."\015'
ExecStop=/bin/sleep 5
ExecStop=/usr/bin/screen -p 0 -S mc-server -X eval 'stuff "say SERVER SHUTTING DOWN IN 10 SECONDS..."\015'
ExecStop=/bin/sleep 5
ExecStop=/usr/bin/screen -p 0 -S mc-server -X eval 'stuff "say SERVER SHUTTING DOWN IN 5 SECONDS..."\015'
ExecStop=/bin/sleep 5
ExecStop=/usr/bin/screen -p 0 -S mc-server -X eval 'stuff "save-all"\015'
ExecStop=/usr/bin/screen -p 0 -S mc-server -X eval 'stuff "stop"\015'

[Install]
WantedBy=multi-user.target